{{!-- Smart Booking Widget Partial --}}
<section class="booking-widget-section">
    <div class="container">
        <div id="booking-widget-container">
            {{!-- Das Booking Widget wird hier durch JavaScript eingefügt --}}
        </div>
    </div>
</section>

{{!-- Lade Booking Widget Scripts --}}
<script src="{{asset "js/booking-widget.js"}}"></script>