<section class="gh-course-boxes gh-outer">
    <div class="gh-course-boxes-inner gh-inner">
        <div class="gh-feed">
            {{!-- KI-Coaching --}}
            <article class="gh-card">
                <a class="gh-card-link" href="/das-gecoachte-planungsritual/">
                    <div class="gh-card-wrapper">
                        <h3 class="gh-card-title is-title">KI- & Produktivitätscoaching</h3>
                        <p class="gh-card-excerpt is-body">Ich helfe dir KI-Anwendungen und Automatisierungen zu erstellen, auf dein Unternehmen zugeschnitten.</p>
                        <div class="gh-card-meta">
                            <span>Mehr erfahren →</span>
                        </div>
                    </div>
                </a>
            </article>

            {{!-- Dein persönliches KI-System --}}
            <article class="gh-card">
                <a class="gh-card-link" href="/kiz/">
                    <div class="gh-card-wrapper">
                        <h3 class="gh-card-title is-title">Dein persönliches KI-System</h3>
                        <p class="gh-card-excerpt is-body">Lerne, wie du deine KI-Welt verstehst und wie du sie für deine Ziele nutzen kannst.</p>
                        <div class="gh-card-meta">
                            <span>Mehr erfahren →</span>
                        </div>
                    </div>
                </a>
            </article>

            {{!-- Produktivitäts-Werkstatt --}}
            <article class="gh-card">
                <a class="gh-card-link" href="/pw-sept25/">
                    <div class="gh-card-wrapper">
                        <h3 class="gh-card-title is-title">Die Produktivitäts-Werkstatt</h3>
                        <p class="gh-card-excerpt is-body">Erstelle dein personalisiertes Produktivitätssystem, welches deine Produktivität verdoppelt.</p>
                        <div class="gh-card-meta">
                            <span>Mehr erfahren →</span>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section> 